div{
    height: 150px;
    border: solid 3px #092454;
}
#uno{
    position:static;
    background-color: #e69ef2;
}
#dos{
    position: relative;
    top: 50px;
    left: 100px;
    background-color: #62d0ff;
}
#tres{
    background-color: #ced5db;
    position: fixed;
    width: 25%;  
    bottom: 50px;
    right: 100px;
    z-index: 2;
}
#cuatro{

    background-color: #85e38d;
    position: relative;
}
#cinco{
    background-color: #d4c200;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 30px;
    left: 15px;


} 
.navv{
    position: fixed;
    z-index: 10;
    width: 100%;
}