*{
    box-sizing: border-box;
}
.container{


    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.item{
    color:white;
    display: flex;

    align-items: center;
    flex-direction: column;  
}
#quis{
    width: 80px;
    display: flex;
    justify-content: flex-end;
}

